/*the body content*/
body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
}


/*the navigation bar edit*/
.logo{
    padding: 0 0.5em;
}
#navbar {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: white;
    padding: 0.5em 0;
    box-shadow: 2px 2px 12px  rgba(0, 0, 0, 0.6);
    background-color: #013d64;
}

.buttons {
 display: flex;
 align-items: center;
 list-style: none;
 justify-content: space-between;
 font-size: 20px;
 padding: 0.2em;
 margin: 0 o.5em;
}

.buttons ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.buttons li a{
    display: flex;
    text-decoration: none;
    padding: 0.5em;
    font-size: 20px;
    margin: 0 0.5em;
    border-radius: 10px;
    color: white;
}

.buttons li a:hover{
    background-color: rgb(41, 2, 2);
    color: white;
}


/*the body part*/

#content {
    padding-bottom: 160px;
}
.welcome {
    background-color: #013d64;
    margin: 2% 20%;
    padding: 20px ;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
}



.bank_accounts {
    background-color: #013d64;
    align-self: center;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;

}
.bank_buttons {
    overflow: auto;
    display: flex;
}



/*footer */

#footer {
    background: #013d64;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    color: white;
    

}

#footer ul{
    list-style: none;

}
#footer li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 0.5em;
    list-style: none;

}
